<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Caduceus</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header>
      <section class="container_2">
        <h1>
            <b class="new_title">Welcome to Caduceus!</b>
            <button class="new_button" id="start_call" onclick="start_call()">Start Call</button>
        </h1>
        <a href="https://en.wikipedia.org/wiki/Caduceus" class="phx-logo">
          <img src="<%= Routes.static_path(@conn, "/images/caduceus.png") %>"
               alt="Caduceus Logo"
               style="width: 125px;"/>
        </a>
      </section>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= @inner_content %>
    </main>
  </body>
</html>
