<section class="phx-hero">
  <video id="local_video" width=315 height=235 autoplay playsinline> </video>
  <video id="remote_video" width=315 height=235 autoplay playsinline> </video>
  <video id="remote_video_1" width=315 height=235 autoplay playsinline> </video>
</section>
